<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      bukubako
    </ion-title>
  </ion-toolbar>
  <ion-searchbar (ionChange)="getItems($event)" >
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let item of items; let i = index;" (click)="toBookDetailsPage($event, i)">
      <ion-text>
        {{item?.title}} <br />
        {{item?.authors?.join("/")}}
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>