<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      bukubako
    </ion-title>
  </ion-toolbar>
  <ion-searchbar (ionChange)="getItems($event)" >
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let item of items; let i = index;" (click)="toBookDetailsPage($event, i)">
      <ion-text>
        {{item?.title}} <br />
        {{item?.authors?.join("/")}}
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>

<ion-item>
  <ion-badge slot="end" (click)="executeScan($event)">
    <ion-icon name="camera" class="icon-size">
      <zxing-scanner 
        [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"
        (scanSuccess)="scanSuccessHandler($event)">
      </zxing-scanner>
    </ion-icon>
  </ion-badge>
</ion-item>